{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Login User</h1>
    <p>Use the following form for the login</p>
    <form action="" method="post" novalidate>

        {% csrf_token %}
        {{form.as_p}}
        

        
        <input type="submit" value="login" class="btn btn-success">

    </form>
</div>
{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
{%endblock%}