{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% block title %}{% endblock %}



<div class="container text-center">
    <h3>Welcome, {{new_user.username}}</h3>
    <p>Your account has been created, you can <a href="{% url 'login' %}">Login Here</a></p>

</div>


{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
{%endblock%}