{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% block title %}{% endblock %}


<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
    <h3>Welcome, {{new_user.username}}</h3>
    <p>Your account has been created, you can <a href="{% url 'login' %}">Login Here</a></p>

</div>


{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
{%endblock%}