{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Login</h1>

    {% if form.errors %}
        <p>Use the form below to login</p>

    {% else %}
        <p>Login here!</p>

    {% endif %}
    <form action="" method="post" novalidate>

        {% csrf_token %}
        {{form.as_p}}
        

        <input type="hidden" name="next" value="{{next}}"/>
        <input type="submit" value="login" class="btn btn-primary">

    </form>
</div>

{%endblock%}