{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>


<div class="container">
    <h1>Login</h1>

    {% if form.errors %}
        <p>Use the form below to login</p>

    {% else %}
        <p>Login here!</p>

    {% endif %}
    <form action="" method="post" novalidate>

        {% csrf_token %}
        {{form.as_p}}
        

        <input type="hidden" name="next" value="{{next}}"/>
        <input type="submit" value="login" class="btn btn-success">

    </form>
</div>

{%endblock%}