body {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    background-color: #fdfdfd;
    min-height: 100vh;
}

footer {
    color: #040404;
    background-color: #fdfdfd;
    padding: 20px;
    margin-top: auto;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
}

.travel-icon {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto auto 0;
    padding: 0;
    height: 100px;
    width: 100px;
    font-weight: bold;
}

i {
    color: #E9AE93;
    padding: 5px;
    padding-top: 15px;
}

i:hover {
    color: #040404;
}

.footer-social {
    padding-top: 15px;
}

.heading-text {
    color: #fdfdfd;
    font-size: 45px;
    text-align: center;
    font-family: "Alkatra";
}

.heading-text-alt {
    text-align: center;
    color: #fdfdfd;
    font-family: "Alkatra";
    font-size: 22px;
}

li {
    color: #040404;
    font-weight: bold;
}

a {
    color: #E9AE93;
}

a:hover {
    color: #040404;
}

.btn-primary {
    color: #fdfdfd;
    background-color: #E9AE93;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.btn-primary:hover {
    color: #040404;
    background-color: #E9AE93;
}

.masthead {
    background-color: #E9AE93;
    box-shadow: 0 16px 48px #E3E7EB;
    height: auto;
    padding-bottom: 15px;
    padding-top: 10px;
}

.page-link {
    color: #fdfdfd;
    background-color: #E9AE93;
    text-decoration: none;
    font-weight: bold;
}

.page-link:hover {
    color: #040404;
    background-color: #E9AE93;
}

.navbar-brand {
    color: #E9AE93;
    font-weight: bold;
    font-size: 42px;
    font-family: "Alkatra";
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

.navbar {
    background-color: #fdfdfd;
}

.profile-text {
    color: #E9AE93;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}