{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>Mattheus Travels</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .masthead {
            background: #052338;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style>

        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"> <img alt="image of earth with a hot air baloon"
                    class="travel-icon"
                    src="https://res.cloudinary.com/dsa3o1dbv/image/upload/v1679577195/Mattheus_Travels-removebg-preview_rpzw86.png">
                    Mattheus Travels
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-5">
                        {% if request.user.is_authenticated %}
                            <a class="nav-link disabled welcomeuser">Welcome, {{request.user.username}}!</a>
                          </li>
                          <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'password-change' %}">Change Password</a>
                        </li>
                          <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                          <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'register' %}">Register</a>
                        </li>
                          {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}

        {% endblock content %}

        <footer class="text-center mb-4 mt-4">
            <div class="container px-2 px-lg-5 ">Follow us on Social Media</div>
    
            <!--Social media links  -->
            <div class="hej">
                <a href="https://twitter.com/?lang=en" class="me-4 text-reset" target="_blank" rel="noopener"
                    aria-label="Twitter"><i class="fab fa-twitter fa-2xl"></i></a>
                <a href="https://en-gb.facebook.com/" class="me-4 text-reset" target="_blank" rel="noopener"
                    aria-label="Facebook"><i class="fab fa-facebook-f fa-2xl"></i></a>
                <a href="https://github.com/MattheusKasa/My-Django-Blog" class="me-4 text-reset" target="_blank"
                    rel="noopener" aria-label="GitHub"><i class="fab fa-github fa-2xl"></i></a>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/af04db9847.js" crossorigin="anonymous"></script>
    </body>
</html>
