{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<header class="masthead">
    <div class="container-masthead">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="heading-text my-4 mt-3"> Welcome to Mattheus travels</h3>
                    <p class="heading-text-alt">A site where you can read about my travels all over the world</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container text-center">
    <div class="row">
        <div class="col-md-8 mt-3">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
                    {% endif %}
                    <div class="d-flex align-items-center mb-2">
                        <p class="card-text-comments m-0 mr-2"><i class="fas fa-comment"></i> {{ post.comments.count }}</p>
                        <p class="card-text-likes m-0"><i class="fas fa-thumbs-up"></i>{{ post.likes.count }}</p>
                    </div>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if is_paginated %}
  <nav aria-label="Page navigation container"></nav>
    <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Prev </a></li>
    {% endif %}
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a></li>
    {% endif %}
    </ul>
{% endif %}
{%endblock%}
