{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container text-center">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1 style="color: #E9AE93; font-weight: bold; font-family: Alkatra";>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2 class="card-text-comments">{{ comments.count }} comments</h2>
        {% for comment in comments %}
        <div>
          <strong>{{ comment.name }}</strong>
          <p>{{ comment.body }}</p>
          {% if user.is_authenticated and user.username == comment.name %}
            <form method="POST" action="{% url 'comment_delete' slug=post.slug comment_id=comment.id %}">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
          {% endif %}
        </div>
      {% endfor %}

      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">


        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>


{% endblock content %}